div.legend{
    position: absolute;
}
div.legend ul{
    list-style-type: none;
}
div.legend.e{
    right: 0;
    top: 0;
}
div.legend.w{
    left: 0;
    top: 0;
}
li.legend-item span.legend-indicator{
    width: 24px;
    height:24px;
    display: inline-block;
    vertical-align: middle;
}
svg.d3-line-chart text, div.legend{
    font-family: TLCircular, Arial, sans-serif
}
svg text.chart-title{
    color: black;
    font-size: 24px;
}
svg text.caption-text{
    color: black;
    font-size: 12px;
}
.axis line, .axis path{
    fill: none;
    stroke: lightgrey;
}
.axis text{
    fill: grey;
}
.d3-line-chart circle.point{
    stroke-width: 1px;
    fill: white;
}